body {
	color: #fff;
	background-size: cover;
	background-position: center;
	font-family: Raleway, sans-serif;
}
#logo {
	position: absolute;
	top:15%;
	left:42%;
	height: auto;
	width:17%;
	opacity: 1;
  z-index: 999;
	animation: pullup 1s ease-in;
 }
@keyframes pullup {
 from {
 opacity:0;
 transform:translateY(10%);
}
 to {
 opacity:1;
}
}
@media only screen and (max-width: 768px) {
    #logo {
		top:15%;
    left:35%;
		width:40%;
    }
}
@media only screen and (max-width: 425px) {
    #logo {
        left:20%;
		width:60%;
    }
}
.logo-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}

/** particles js **/
canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url('../public/images/background.png');
  background-size: 70%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}
.monument{
  width:280px;
  height: 200px;
  background-color: red;
}
.content{
  width:280px;
  height: 200px;
  background-color: blue;
}
.tab{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
